<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
<h1>Perfil</h1>

<div class = "center-block">
    <% if current_usuario.foto != nil %>
        <center><%= image_tag current_usuario.foto, size: "100" %></center>
    <% end %>
    
    <center><strong><%= class_usuario_vegano(current_usuario.tipo_usuario)%></strong></center>
    
    <% if current_usuario.dev %>
        <% class_dev(current_usuario.dev) %>
    <% end %>
</div>


<p>
    <strong>Nome: </strong>
    <%= current_usuario.nome %>
</p>

<p>
    <strong>Sobrenome: </strong>
    <%= current_usuario.sobrenome %>
</p>

<p>
    <strong>Email: </strong>
    <%= current_usuario.email %>
</p>

<p>
    <strong>CEP: </strong>
    <%= current_usuario.cep %><br/>
    <small>Porquê guardamos isso?</small>
</p>

<p>
    <strong>País: </strong>
    <%= current_usuario.pais %>
</p>

<p>
    <strong>Telefone: </strong>
    <%= current_usuario.telefone %>
</p>


<%= link_to "Editar", edit_usuario_registration_path %>
</div>