<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<p id="notice"><%= notice %></p>

<div class = "container-box">
  <h1>Console do Desenvolvedor</h1>
  
  <div class ="alert alert-warning alert-dismissible fade show" role = "alert">
      As alterações feitas aqui são feitas no Banco de Dados, tenha cuidado.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
  <br />
  
  <div class="list-group">
     <li class="list-group-item list-group-item-info"><strong><%= link_to "Cadastros dos usuários à serem validados", cadastro_externos_path%></strong></li>
    <li class="list-group-item"><%= link_to "Produtos", produtos_path%></li>
    <li class="list-group-item"><%= link_to "Marcas", marcas_path%></li>
    <li class="list-group-item"><%= link_to "Componentes", componentes_path%></li>
    <li class="list-group-item"><%= link_to "Nomes alternativos dos Produtos", produto_nome_alternativos_path%></li>
    <li class="list-group-item"><%= link_to "Nomes alternativos das Marcas", marca_nome_alternativos_path%></li>
    <li class="list-group-item"><%= link_to "Nomes alternativos dos Componentes", componente_nome_alternativos_path%></li>
    <li class="list-group-item"><%= link_to "Produto possui Componentes", produto_possui_componentes_path%></li>
  </div>

</div>