<%= form_with(model: produto_possui_componente, local: true) do |form| %>
  <% if produto_possui_componente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto_possui_componente.errors.count, "error") %> prohibited this produto_possui_componente from being saved:</h2>

      <ul>
      <% produto_possui_componente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.text_field :produto_id %>
  </div>

  <div class="field">
    <%= form.label :componente_id %>
    <%= form.text_field :componente_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
