<%= form_with(model: componente, local: true) do |form| %>
  <% if componente.errors.any? %>
    <div id="error_explanation">
      <h2 class = "color-font"><%= pluralize(componente.errors.count, "error") %> prohibited this componente from being saved:</h2>

      <ul>
      <% componente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :cod_europeu, class: "form-control", placeholder: "Código Europeu" %>
  </div>

  <div class="form-group">
    <%= form.text_field :cod_INS, class: "form-control", placeholder: "Código INS" %>
  </div>

  <div class="form-group">
    <%= form.text_field :nome, class: "form-control", placeholder: "Nome do Componente" %>
  </div>

  <div class="form-group">
    <%= form.text_area :descricao, class: "form-control", placeholder: "Descrição" %>
  </div>

  <div class="form-group">
    <%= form.number_field :class_vegan, class: "form-control", placeholder: "É vegano?" %>
  </div>

  <div class="form-group">
    <%= form.text_area :justificativa, class: "form-control", placeholder: "Por quê?" %>
  </div>

  <div class="actions">
    <center><%= form.submit class: "btn btn-primary-evegano" %></center>
  </div>
<% end %>
