<p id="notice"><%= notice %></p>

<p>
  <strong>Cod europeu:</strong>
  <%= @componente.cod_europeu %>
</p>

<p>
  <strong>Cod ins:</strong>
  <%= @componente.cod_INS %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @componente.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @componente.descricao %>
</p>

<p>
  <strong>Class vegan:</strong>
  <%= @componente.class_vegan %>
</p>

<p>
  <strong>Justificativa:</strong>
  <%= @componente.justificativa %>
</p>

<%= link_to 'Edit', edit_componente_path(@componente) %> |
<%= link_to 'Back', componentes_path %>
