<!-- NAVBAR -->
    <%= nav_bar fixed: :top, brand: "É vegano?" ,  brand_link: inicio_path, responsive: true do %>
      <%= menu_group do %>
        <%= menu_item "Histórico de Compras" %>
      <% end %>
      
      
      
      <%= menu_group pull: :right do %>
        <%= menu_item "Dev Console", dev_path %>
        <%= menu_item('Sair', destroy_usuario_session_path, method: :delete) %> 
      <% end %>
      
    <% end %>
<!-- NAVBAR -->

<div class = "center-block">
    <img alt="Logo" src="/assets/logo.png" />
    <h2>É vegano?</h2>
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite um produto, marca ou componente.">
      </div>
      <%= button_to "Enviar rótulo", class: "btn btn-danger"%>
      <%= button_to "Enviar código de barras", class: "btn btn-danger"%>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    
</div>