<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box" style="padding: 50px 0px 50px 0px"> <center>
    <div style="padding: 30px 0px 30px 0px"> 
    <%= image_tag("/assets/logos/logo-128.png", size: "64", class: "img_center") %>
    <h2 class = "titulo_centro color-font">É vegano?</h2>

    <%= form_tag busca_path, method: :get do%>
      <div class="container btn-75 nopadding">
        <div class = "row justify-content-md-center" style = "margin-top: 30px;">
          <div class = "col-lg px-lg-1">
            <%= text_field_tag :texto, @nome_busca, class: "form-control form100", placeholder: "Digite um produto, marca ou componente." %>
          </div>
          <div class = "col-sm-auto">
            <!-- Botão para acionar modal -->
            <button type="button" class="btn nopadding" data-toggle="modal" data-target="#modalCodigoBarras">
              <%= image_tag "/assets/barcode.png", size: "35" %>
            </button>
          </div>
        </div>
        
        <%= button_to "Buscar", nil, class: "btn btn-primary-color my-3" %>
      </div>
    <% end %>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCodigoBarras" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Digite o código de barras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag busca_cod_path, method: :get do %>
        <div class="modal-body">
          <%= text_field_tag :cod, @cod_barra, class: "form-control form100", placeholder: "Ex.: 7896004720333 " %>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>-->
          <%= button_to "Buscar", nil, class: "btn btn-primary-color my-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
