<%= render "layouts/navbar" %>


<div class = "center-block">
    <%= image_tag("/assets/logos/logo-128.png", size: "64", class: "img_center") %>
    <h2 class = "titulo_centro">É vegano?</h2>

    <%= form_tag busca_path, method: :get do%>
      <div class="form-group botoes">
        <%= text_field_tag :texto, @nome_busca, class: "form-control", placeholder: "Digite um produto, marca ou componente." %>
        <%= button_to "Buscar", nil, class: "btn btn-primary" %>
      </div>
    <% end %>

    <div>
      <%= button_to "Enviar rótulo", new_produto_imagem_url+"/rotulo/" ,class: "btn btn-success", method: :get%>
      <%= button_to "Enviar código de barras", new_produto_imagem_url+"/barras/" ,class: "btn btn-success", method: :get%>
    </div>

</div>