<%= render "layouts/navbar" %>


<div class = "center-block">
    <%= image_tag("/assets/logos/logo-128.png", size: "64", class: "img_center") %>
    <h2 class = "titulo_centro">É vegano?</h2>

    <%= form_tag busca_path, method: :get do%>
      <div class="form-group botoes">
        <%= text_field_tag :texto, @nome_busca, class: "form-control", placeholder: "Digite um produto, marca ou componente." %>
        <%= button_to "Buscar", nil, class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= button_to "Enviar rótulo", class: "btn btn-danger"%>
    <%= button_to "Enviar código de barras", class: "btn btn-danger"%>
</div>