<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>
<div class = "container-box">
    <div class = "row align-items-center">
        <div class = "col">
            <p class = "welcome-title green-color">Chega de ficar olhando rótulos!</p>
            Nós sabemos que você se preocupa com o que compra!
            O <strong class = "color-font">É vegano?</strong> te ajuda a descobrir se seu produto é ou não vegano, de quebra,
            te dizemos qual a justificativa da classificação que demos.
            <p class = "mt-sm">
                <%= button_to "Comece agora - É de graça!", inicio_path, method: :get, class: "btn btn-primary-evegano"%></br>
                <small>Quer saber mais? <%= link_to "Clica aqui", tour_path %> que a gente te conta.</small>
            </p>
            
        </div>
        <div class = "col">
            <img class = "img-fluid welcome-image-lg" src = <%= asset_path("/assets/yoga.png") %>>
        </div>
    </div>
</div>