<p id="notice"><%= notice %></p>

<h1>Marca Pertence Marcas</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Marca</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marca_pertence_marcas.each do |marca_pertence_marca| %>
      <tr>
        <td><%= marca_pertence_marca.marca %></td>
        <td><%= marca_pertence_marca.marca %></td>
        <td><%= link_to 'Show', marca_pertence_marca %></td>
        <td><%= link_to 'Edit', edit_marca_pertence_marca_path(marca_pertence_marca) %></td>
        <td><%= link_to 'Destroy', marca_pertence_marca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marca Pertence Marca', new_marca_pertence_marca_path %>
