<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @marca_pertence_marca.marca %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @marca_pertence_marca.marca %>
</p>

<%= link_to 'Edit', edit_marca_pertence_marca_path(@marca_pertence_marca) %> |
<%= link_to 'Back', marca_pertence_marcas_path %>
