<%= form_with(model: marca, local: true) do |form| %>
  <% if marca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marca.errors.count, "error") %> prohibited this marca from being saved:</h2>

      <ul>
      <% marca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :nome, class: "form-control", placeholder: "Nome da Marca"%>
  </div>

  <div class="form-group">
    <%= form.text_area :descricao, class: "form-control", placeholder: "Descrição"%>
  </div>

  <div class="form-group">
    <%= form.number_field :class_vegan, class: "form-control", placeholder: "É vegano?"%>
  </div>

  <div class="form-group">
    <%= form.text_area :justificativa, class: "form-control", placeholder: "Por quê?"%>
  </div>

  <div class="actions">
    <center><%= form.submit class: "btn btn-primary-color" %></center>
  </div>
<% end %>
