<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<%= render "shared/notice" %>
  
<div class = "container-box">
  <%= render "shared/pmc_basic_infos", pmc: @marca%>
  <hr>
  
  <p>
    <strong>Descrição:</strong></br>
    <%= @marca.descricao %>
  </p>
  
  <p>
    <strong>Justificativa da Classificação:</strong></br>
    <%= @marca.justificativa %>
  </p>
  
  <% if usuario_signed_in? and current_usuario.dev then%>
    <%= link_to 'Editar', edit_marca_path(@marca) %> |
  <% end %>
  
  <%= link_to 'Voltar', :back %>
</div>
