<%= form_for @produto_imagem, html: { multipart: true } do |form| %>
  <% if produto_imagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto_imagem.errors.count, "error") %> prohibited this produto_imagem from being saved:</h2>

      <ul>
      <% produto_imagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class = "container center40">
    <div class= "row justify-content-md-center no-gutters">
      <div class = "col">
        <%= image_tag "/assets/photo.png", size: "48" %>
      </div>
      <div class = "col">
        <%= image_tag "/assets/flour.png", size: "48" %>
      </div>
    </div>
    
    <div class= "row justify-content-md-center my-3">
      <p align = "center">
        A busca por imagem está em desenvolvimento. Tente tirar uma foto do rótulo
        sem curvar a embalagem e enquadrando apenas o texto principal.
      </p>
    </div>
    <hr class="my-3">
    <div class= "row justify-content-md-center">
        <div class="form-group">
          <center><%= form.label "Selecione uma imagem" %><br/></center>
          <center><%= form.file_field :cover%></center>
        </div>
    </div>
    <div class = "row justify-content-md-center">
        <div class="actions">
          <%= form.submit class: "btn btn-primary-color" %>
        </div>
      </div>
  </div>
<% end %>
