<%= content_for :nav do %>
  <%= render "layout/navbar" %>
<% end %>

<p>
  <%= image_tag @produto_imagem.cover.url(:thumb) %>
</p>

<p>
  <strong>Tipo da Imagem:</strong>
  <%= class_tipo_imagem(@produto_imagem.tipo) %>
</p>

<%= link_to 'Editar', edit_produto_imagem_path(@produto_imagem) %> |
<%= link_to 'Voltar', inicio_path %>


<%= @sorry %>