<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @produto_imagem.cover.url(:thumb) %>
</p>

<p>
  <strong>Tipo da Imagem:</strong>
  <%= class_tipo_imagem(@produto_imagem.tipo) %>
</p>

<%= link_to 'Edit', edit_produto_imagem_path(@produto_imagem) %> |
<%= link_to 'Back', inicio_path %>
