<%= content_for :nav do %>
  <%= render "layouts/navbar" %>
<% end %>

<p>
  <%= image_tag @produto_imagem.cover.url(:thumb) %>
</p>

<%= link_to 'Editar', edit_produto_imagem_path(@produto_imagem) %> |
<%= link_to 'Voltar', inicio_path %>


<%= @sorry %>