<div 
id = "modalLogin"
class = "modal fade"  tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
          <div class = "panel panel-default container-box">
            <center>
              <%= image_tag("/assets/logos/logo-128.png", size: "64") %>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form100", placeholder: :email %></br>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control form100", placeholder: :senha %>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <small><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br /></small>
                  <% end -%>
                  
                  <br />
                  <%= f.submit "ENTRAR", class: "btn btn-primary-evegano form100" %>
                  <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                    <%= f.label :Lembre_de_mim %>
                  <% end -%>
                </div>
              <% end %>
            </center>
            
            <div class = "row no-gutters">
              <div class = "col">
                <hr>
              </div>
              
              <div class = "col-auto" style = "padding: 0px 15px; color: #88c057;">
                ou
              </div>
              
              <div class = "col">
                <hr>
              </div>
            </div>
             
            </br>
          
              <center>
                <%- if devise_mapping.omniauthable? %>
                  <div class = "col">
                  <%- resource_class.omniauth_providers.each do |provider| %>
                      <a class = "btn btn-provider" href = <%=omniauth_authorize_path(resource_name, provider)%>>
                          <div class = "col-auto align-self-center">
                              <img src = <%= "/assets/providers/#{OmniAuth::Utils.camelize(provider)}.png" %> style = "width: 25px; height: 25px;">
                          </div>
                          <div class = "col align-self-center nopadding" style = "text-align: left;">
                            <small>Entre com sua conta <%= provider_to_name(provider) %></small>
                          </div>
                      </a>
                  <% end -%>
                  </div>
                <% end -%>
              </center>
          </div>
      </div>
    </div>
  </div>
</div>

