<div class = "panel panel-default container-box">
  <center>
    <%= image_tag("/assets/logos/logo-128.png", size: "64") %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: :email %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: :senha %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %><br />
        <% end -%>
        
        <br />
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :Lembre_de_mim %>
        <% end -%>
      </div>

      <div class="actions">
        <%= f.submit "ENTRAR", class: "btn btn-primary-evegano btn-75" %>
      </div>
    <% end %>
  </center>
  
  
  <%= render "devise/shared/links" %>
</div>
