<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod_barras %>
    <%= form.text_field :cod_barras %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :marca_id %>
    <%= form.text_field :marca_id %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :class_vegan %>
    <%= form.number_field :class_vegan %>
  </div>

  <div class="field">
    <%= form.label :justificativa %>
    <%= form.text_area :justificativa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
