<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<div class = "container-box">
    <h2><center>Editar Produto</center></h2>

    <%= render 'form', produto: @produto %>
    
    <%= link_to 'Mostrar', @produto %> |
    <%= link_to 'Voltar', produtos_path %>

</div>

