<%= content_for :nav do%>
  <%= render "layouts/navbar" %>
<% end %>

<%= render "shared/notice" %>

<div class = "container-box">
  
  <%= render "shared/pmc_basic_infos", pmc: @produto%>
  <hr>

  <p>
    <strong>Marca:</strong>
    <%= link_to @produto.marca.nome, marcas_path(@produto.marca) %>
  </p>
  
  
  
  <p>
    <strong>Descrição:</strong> </br>
    <%= @produto.descricao %>
  </p>
  
  <p>
    <strong>Componentes:</strong> </br>
    <% @comps_produto.each do |comp| %>
      <%= link_to comp.nome, componente_path(comp) %>; 
    <% end %>
  </p>
  
  <p>
    <strong>Justificativa da Classificação:</strong> </br>
    <%= @produto.justificativa %>
  </p>
  
  
  <% if current_usuario.dev then%>
    <%= link_to 'Editar', edit_produto_path(@produto) %>
  <% end %>
  
  <%= link_to 'Voltar', :back %>

</div>
