<p id="notice"><%= notice %></p>

<h1>Marca Nome Alternativos</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marca_nome_alternativos.each do |marca_nome_alternativo| %>
      <tr>
        <td><%= marca_nome_alternativo.marca %></td>
        <td><%= marca_nome_alternativo.nome %></td>
        <td><%= link_to 'Show', marca_nome_alternativo %></td>
        <td><%= link_to 'Edit', edit_marca_nome_alternativo_path(marca_nome_alternativo) %></td>
        <td><%= link_to 'Destroy', marca_nome_alternativo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marca Nome Alternativo', new_marca_nome_alternativo_path %>
