<nav class="navbar navbar-expand-lg navbar-light bg-green">
  <div class = "container">
    <!-- Brand e logo -->
    <a class="navbar-brand" href=<%= inicio_path%>>
      <%= image_tag asset_path("logos/logo-64.png"), size: "30", class: "d-inline-block align-top"%>
      <a class = "fonte">É vegano?</a>  
    </a>
    
    <!-- Botão Sanduíche -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Tudo dentro dessa div vai sumir -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
         
        </li>
      </ul>
      <% if usuario_signed_in? %>
      
        <%= link_to((current_usuario.nome), perfil_path, class: "nav-link text-nav") %>
        <a class="nav-link text-nav" href=<%=historico_path%>>Histórico de Buscas</a>
        <% if current_usuario.dev then%>
            <%= link_to("Dev Console", dev_path, class: "btn btn-danger mr-sm-2")%>
        <% end %>
        <%= button_to('Sair', destroy_usuario_session_path, method: :delete, class: "btn btn-danger my-2 my-sm-0") %> 
      <% else %>
          <%= link_to "Registre-se!", new_usuario_registration_path, :class => 'btn btn-warning my-2 my-sm-0 mr-sm-2'  %>
        <%= link_to "Login", new_usuario_session_path, :class => 'btn btn-success my-2 my-sm-0'  %>
      <% end %>
    </div>
    
  </div>
</nav>