<!DOCTYPE html>
<html>
  <% # encoding: utf-8 %>
  <meta charset="UTF-8"> 
  <head>
    <title>É vegano?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
